* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root { 
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

body {
  background-color: #000000;
  color: white;
}

.mouse_move {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
}

.mouse_move h2 {
  position: relative;
  font-size: 100px;
  color: white;
}

.mouse_move img {
  position: absolute;
}

#img1 {
  height: 120%;
  width: 120%;
  z-index: -1;
}

#img2 {
  height: 110%;
  width: 110%;
  bottom: -10%;
  left: -1%;
}

#img3 {
  height: 30%;
  width: 100%;
  z-index: 0;
}

#img4 {
  right: 50%;
  height: 100%;
  width: 70%;
  z-index: -1;
}

#img5 {
  height: 100px;
  width: 100px;
  z-index: -1000;
}

.layer-2, .layer-3, .layer-4 {
  pointer-events: none;
}
